<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-ecl-index") %>>
          <a href="/docs/providers/ecl/index.html">Enterprise Cloud Provider</a>
        </li>

        <li<%= sidebar_current("docs-ecl-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ecl-datasource-compute-flavor-v2") %>>
              <a href="/docs/providers/ecl/d/compute_flavor_v2.html">ecl_compute_flavor_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-compute-keypair-v2") %>>
              <a href="/docs/providers/ecl/d/compute_keypair_v2.html">ecl_compute_keypair_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-dns-zone-v2") %>>
              <a href="/docs/providers/ecl/d/dns_zone_v2.html">ecl_dns_zone_v2</a>
            </li>
            <% if false %>
            <li<%= sidebar_current("docs-ecl-datasource-identity-auth-scope-v3") %>>
              <a href="/docs/providers/ecl/d/identity_auth_scope_v3.html">ecl_identity_auth_scope_v3</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-identity-endpoint-v3") %>>
              <a href="/docs/providers/ecl/d/identity_endpoint_v3.html">ecl_identity_endpoint_v3</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-identity-group-v3") %>>
              <a href="/docs/providers/ecl/d/identity_group_v3.html">ecl_identity_group_v3</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-identity-project-v3") %>>
              <a href="/docs/providers/ecl/d/identity_project_v3.html">ecl_identity_project_v3</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-identity-role-v3") %>>
              <a href="/docs/providers/ecl/d/identity_role_v3.html">ecl_identity_role_v3</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-identity-user-v3") %>>
              <a href="/docs/providers/ecl/d/identity_user_v3.html">ecl_identity_user_v3</a>
            </li>
            <% end %>
            <li<%= sidebar_current("docs-ecl-datasource-images-image-v2") %>>
              <a href="/docs/providers/ecl/d/imagestorages_image_v2.html">ecl_imagestorages_image_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-network-common_function_gateway-v2") %>>
              <a href="/docs/providers/ecl/d/network_common_function_gateway_v2.html">ecl_network_common_function_gateway_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-network-gateway_interface-v2") %>>
              <a href="/docs/providers/ecl/d/network_gateway_interface_v2.html">ecl_network_gateway_interface_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-network-internet_gateway-v2") %>>
              <a href="/docs/providers/ecl/d/network_internet_gateway_v2.html">ecl_network_internet_gateway_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-network-network-v2") %>>
              <a href="/docs/providers/ecl/d/network_network_v2.html">ecl_network_network_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-network-port-v2") %>>
              <a href="/docs/providers/ecl/d/network_port_v2.html">ecl_network_port_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-network-public_ip-v2") %>>
              <a href="/docs/providers/ecl/d/network_public_ip_v2.html">ecl_network_public_ip_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-network-static_route-v2") %>>
              <a href="/docs/providers/ecl/d/network_static_route_v2.html">ecl_network_static_route_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-network-subnet-v2") %>>
              <a href="/docs/providers/ecl/d/network_subnet_v2.html">ecl_network_subnet_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-sss-tenant-v1") %>>
              <a href="/docs/providers/ecl/d/sss_tenant_v1.html">ecl_sss_tenant_v1</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-storage-virtualstorage-v1") %>>
              <a href="/docs/providers/ecl/d/storage_virtualstorage_v1.html">ecl_storage_virtualstorage_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-storage-volume-v1") %>>
              <a href="/docs/providers/ecl/d/storage_volume_v1.html">ecl_storage_volume_v1</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-storage-volumetype-v1") %>>
              <a href="/docs/providers/ecl/d/storage_volumetype_v1.html">ecl_storage_volumetype_v1</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-vna-appliance-v1") %>>
              <a href="/docs/providers/ecl/d/vna_appliance_v1.html">ecl_vna_appliance_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-ecl-resource-compute") %>>
          <a href="#">Compute Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ecl-resource-compute-instance-v2") %>>
              <a href="/docs/providers/ecl/r/compute_instance_v2.html">ecl_compute_instance_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-compute-keypair-v2") %>>
              <a href="/docs/providers/ecl/r/compute_keypair_v2.html">ecl_compute_keypair_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-compute-volume-attach-v2") %>>
              <a href="/docs/providers/ecl/r/compute_volume_attach_v2.html">ecl_compute_volume_attach_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-compute-volume-v2") %>>
              <a href="/docs/providers/ecl/r/compute_volume_v2.html">ecl_compute_volume_v2</a>
            </li>
          </ul>
        </li>

        <% if false %>
        <li<%= sidebar_current("docs-ecl-resource-db") %>>
          <a href="#">Database Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ecl-resource-db-configuration-v1") %>>
              <a href="/docs/providers/ecl/r/db_configuration_v1.html">ecl_db_configuration_v1</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-db-database-v1") %>>
              <a href="/docs/providers/ecl/r/db_database_v1.html">ecl_db_database_v1</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-db-instance-v1") %>>
              <a href="/docs/providers/ecl/r/db_instance_v1.html">ecl_db_instance_v1</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-db-user-v1") %>>
              <a href="/docs/providers/ecl/r/db_user_v1.html">ecl_db_user_v1</a>
            </li>
          </ul>
        </li>
        <% end %>

        <li<%= sidebar_current("docs-ecl-resource-dns") %>>
          <a href="#">DNS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ecl-resource-dns-recordset-v2") %>>
              <a href="/docs/providers/ecl/r/dns_recordset_v2.html">ecl_dns_recordset_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-dns-zone-v2") %>>
              <a href="/docs/providers/ecl/r/dns_zone_v2.html">ecl_dns_zone_v2</a>
            </li>
          </ul>
        </li>

        <% if false %>
        <li<%= sidebar_current("docs-ecl-resource-identity") %>>
          <a href="#">Identity Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ecl-resource-identity-project-v3") %>>
              <a href="/docs/providers/ecl/r/identity_project_v3.html">ecl_identity_project_v3</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-identity-role-v3") %>>
              <a href="/docs/providers/ecl/r/identity_role_v3.html">ecl_identity_role_v3</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-identity-role-assignment-v3") %>>
              <a href="/docs/providers/ecl/r/identity_role_assignment_v3.html">ecl_identity_role_assignment_v3</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-identity-user-v3") %>>
              <a href="/docs/providers/ecl/r/identity_user_v3.html">ecl_identity_user_v3</a>
            </li>
          </ul>
        </li>
        <% end %>

        <li<%= sidebar_current("docs-ecl-resource-imagestorages") %>>
          <a href="#">Images Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ecl-resource-imagestorages-image-v2") %>>
              <a href="/docs/providers/ecl/r/imagestorages_image_v2.html">ecl_imagestorages_image_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-imagestorages-member_accepter-v2") %>>
              <a href="/docs/providers/ecl/r/imagestorages_member_accepter_v2.html">ecl_imagestorages_member_accepter_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-imagestorages-member-v2") %>>
              <a href="/docs/providers/ecl/r/imagestorages_member_v2.html">ecl_imagestorages_member_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-ecl-resource-network") %>>
          <a href="#">Network Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ecl-resource-network-common_function_gateway-v2") %>>
              <a href="/docs/providers/ecl/r/network_common_function_gateway_v2.html">ecl_network_common_function_gateway_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-network-gateway_interface-v2") %>>
              <a href="/docs/providers/ecl/r/network_gateway_interface_v2.html">ecl_network_gateway_interface_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-network-internet_gateway-v2") %>>
              <a href="/docs/providers/ecl/r/network_internet_gateway_v2.html">ecl_network_internet_gateway_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-network-network-v2") %>>
              <a href="/docs/providers/ecl/r/network_network_v2.html">ecl_network_network_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-network-port-v2") %>>
              <a href="/docs/providers/ecl/r/network_port_v2.html">ecl_network_port_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-network-public_ip-v2") %>>
              <a href="/docs/providers/ecl/r/network_public_ip_v2.html">ecl_network_public_ip_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-network-static_route-v2") %>>
              <a href="/docs/providers/ecl/r/network_static_route_v2.html">ecl_network_static_route_v2</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-network-subnet-v2") %>>
              <a href="/docs/providers/ecl/r/network_subnet_v2.html">ecl_network_subnet_v2</a>
            </li>
          </ul>
        </li>

        <% if false %>
        <li<%= sidebar_current("docs-ecl-resource-objectstorage") %>>
          <a href="#">Object Storage Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ecl-resource-objectstorage-container-v1") %>>
              <a href="/docs/providers/ecl/r/objectstorage_container_v1.html">ecl_objectstorage_container_v1</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-objectstorage-object-v1") %>>
              <a href="/docs/providers/ecl/r/objectstorage_object_v1.html">ecl_objectstorage_object_v1</a>
            </li>
            <li<%= sidebar_current("docs-ecl-datasource-objectstorage-tempurl-v1") %>>
              <a href="/docs/providers/ecl/r/objectstorage_tempurl_v1.html">ecl_objectstorage_tempurl_v1</a>
            </li>
          </ul>
        </li>
        <% end %>

        <li<%= sidebar_current("docs-ecl-resource-sss") %>>
          <a href="#">SSS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ecl-resource-sss-tenant-v1") %>>
              <a href="/docs/providers/ecl/r/sss_tenant_v1.html">ecl_sss_tenant_v1</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-sss-user-v1") %>>
              <a href="/docs/providers/ecl/r/sss_user_v1.html">ecl_sss_user_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-ecl-resource-storage") %>>
          <a href="#">Storage Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ecl-resource-storage-virtualstorage-v1") %>>
              <a href="/docs/providers/ecl/r/storage_virtualstorage_v1.html">ecl_storage_virtualstorage_v1</a>
            </li>
            <li<%= sidebar_current("docs-ecl-resource-storage-volume-v1") %>>
              <a href="/docs/providers/ecl/r/storage_volume_v1.html">ecl_storage_volume_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-ecl-resource-vna") %>>
          <a href="#">Virtual Network Appliance Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ecl-resource-vna-appliance-v1") %>>
              <a href="/docs/providers/ecl/r/vna_appliance_v1.html">ecl_vna_appliance_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-ecl-resource-security") %>>
          <a href="#">Security Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ecl-security-network_based_device_single-v1") %>>
              <a href="/docs/providers/ecl/r/security_network_based_device_single_v1.html">ecl_security_network_based_device_single_v1</a>
            </li>
            <li<%= sidebar_current("docs-ecl-security-network_based_waf_single-v1") %>>
              <a href="/docs/providers/ecl/r/security_network_based_waf_single_v1.html">ecl_security_network_based_waf_single_v1</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
